<h2>
  <strong>Az információhoz való jog</strong>
</h2>
<p>Minden állampolgárnak joga van ahhoz, hogy megismerje a közintézmények birtokában levő információkat. <strong>A jogszabályi előírásoknak megfelelően a közintézményeknek kötelező az adatigénylésekre választ adniuk</strong>. 
<a href="<%= help_about_url %>">Bővebben az információ szabadságáról itt.</a></p>
